<div>
    <h2 id="page-heading">
        <span jhiTranslate="clothesShopOnlineApp.invoice.home.title">Invoices</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-invoice" [routerLink]="['/invoice/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="clothesShopOnlineApp.invoice.home.createLabel">
            Create new Invoice
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="invoices">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="clothesShopOnlineApp.invoice.date">Date</span></th>
            <th><span jhiTranslate="clothesShopOnlineApp.invoice.details">Details</span></th>
            <th><span jhiTranslate="clothesShopOnlineApp.invoice.status">Status</span></th>
            <th><span jhiTranslate="clothesShopOnlineApp.invoice.paymentMethod">Payment Method</span></th>
            <th><span jhiTranslate="clothesShopOnlineApp.invoice.paymentDate">Payment Date</span></th>
            <th><span jhiTranslate="clothesShopOnlineApp.invoice.paymentAmount">Payment Amount</span></th>
            <th><span jhiTranslate="clothesShopOnlineApp.invoice.order">Order</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let invoice of invoices ;trackBy: trackId">
                <td><a [routerLink]="['/invoice', invoice.id, 'view' ]">{{invoice.id}}</a></td>
                <td>{{invoice.date | date:'medium'}}</td>
                <td>{{invoice.details}}</td>
                <td jhiTranslate="{{'clothesShopOnlineApp.InvoiceStatus.' + invoice.status}}">{{invoice.status}}</td>
                <td jhiTranslate="{{'clothesShopOnlineApp.PaymentMethod.' + invoice.paymentMethod}}">{{invoice.paymentMethod}}</td>
                <td>{{invoice.paymentDate | date:'medium'}}</td>
                <td>{{invoice.paymentAmount}}</td>
                <td>
                    <div *ngIf="invoice.order">
                        <a [routerLink]="['../product-order', invoice.order?.id, 'view' ]" >{{invoice.order?.code}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/invoice', invoice.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/invoice', invoice.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'invoice', { outlets: { popup: invoice.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
