<div>
    <h2 id="page-heading">
        <span jhiTranslate="clothesShopOnlineApp.productOrder.home.title">Product Orders</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-product-order" [routerLink]="['/product-order/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="clothesShopOnlineApp.productOrder.home.createLabel">
            Create new Product Order
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="productOrders">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="clothesShopOnlineApp.productOrder.placedDate">Placed Date</span></th>
            <th><span jhiTranslate="clothesShopOnlineApp.productOrder.status">Status</span></th>
            <th><span jhiTranslate="clothesShopOnlineApp.productOrder.code">Code</span></th>
            <th><span jhiTranslate="clothesShopOnlineApp.productOrder.customer">Customer</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let productOrder of productOrders ;trackBy: trackId">
                <td><a [routerLink]="['/product-order', productOrder.id, 'view' ]">{{productOrder.id}}</a></td>
                <td>{{productOrder.placedDate | date:'medium'}}</td>
                <td jhiTranslate="{{'clothesShopOnlineApp.OrderStatus.' + productOrder.status}}">{{productOrder.status}}</td>
                <td>{{productOrder.code}}</td>
                <td>
                    <div *ngIf="productOrder.customer">
                        <a [routerLink]="['../customer', productOrder.customer?.id, 'view' ]" >{{productOrder.customer?.mail}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/product-order', productOrder.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/product-order', productOrder.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'product-order', { outlets: { popup: productOrder.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
