<div>
    <h2 id="page-heading">
        <span jhiTranslate="clothesShopOnlineApp.product.home.title">Products</span>
        <button *jhiHasAnyAuthority="'ROLE_ADMIN'" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-product" [routerLink]="['/product/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="clothesShopOnlineApp.product.home.createLabel">
            Create new Product
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div *ngIf="products">
        <div class="list-group">
            <a [routerLink]="['../product', product.id, 'view']"
               class="list-group-item list-group-item-action flex-column
            align-items-start"
               *ngFor="let product of products; trackBy: trackId">
                <div class="row">
                    <div class="col-2 col-xs-12 justify-content-center">
                        <img [src]="'data:' + product.imageContentType +
                     ';base64,' + product.image"
                             style="max-height:150px;" alt="product image"/>
                    </div>
                    <div class="col col-xs-12">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{product.name}}</h5>
                            <small *ngIf="product.productCategory">
                                <a [routerLink]="['../product-category',
                                    product.productCategory?.name ]" >
                                    Category: {{product.productCategory?.name}}
                                </a>
                            </small>
                        </div>
                        <small class="mb-1">{{product.description}}</small>
                        <p class="mb-1">{{product.price | currency:'USD'}}</p>
                        <small>
                            Size:
                            <span>
                            {{product.size}}
                        </span>
                        </small>
                        <div *jhiHasAnyAuthority="'ROLE_ADMIN'">
                            <button type="submit"

                                    [routerLink]="['/',
                                    { outlets: { popup: 'product/'+
                                    product.id + '/edit'} }]"
                                    replaceUrl="true"
                                    queryParamsHandling="merge"
                                    class="btn btn-primary btn-sm">
                                <span class="fa fa-pencil"></span>
                                <span class="d-none d-md-inline"
                                      jhiTranslate="entity.action.edit">Edit</span>
                            </button>
                            <button type="submit"
                                    [routerLink]="['/',
                                    { outlets: { popup: 'product/'+
                                     product.id + '/delete'} }]"
                                    replaceUrl="true"
                                    queryParamsHandling="merge"
                                    class="btn btn-danger btn-sm">
                                <span class="fa fa-remove"></span>
                                <span class="d-none d-md-inline"
                                      jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                            <button></button>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
